
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:'Poppins',sans-serif;
  background:#050505;
  color:white;
}

.card{
  background:#101010;
  border:1px solid #272727;
  border-radius:28px;
}

.btn{
  transition:.3s;
}

.btn:hover{
  transform:translateY(-4px);
}

table{
  width:100%;
}

th,
td{
  padding:15px;
  text-align:left;
}

th{
  background:#181818;
}

tr:nth-child(even){
  background:#0f0f0f;
}


.floating {

  animation: floatLoader 3s ease-in-out infinite;

}
/* SAFE SPACE FOR APP NAV */

body{
  padding-bottom:100px;
}

/* REMOVE MOBILE TAP COLOR */

a,
button{
  -webkit-tap-highlight-color: transparent;
}

/* SMOOTH APP FEEL */

nav a{
  user-select:none;
}